@font-face {
    font-family: sao;
    src: url(../assets/fonts/SAOUITT-Regular.ttf);
}

@font-face {
    font-family: cyber1;
    src: url(../assets/fonts/SkylineBeachNbpRegular.ttf);
}

@font-face {
    font-family: cyber2;
    src: url(../assets/fonts/JxTabeDemoRegular.ttf);
}