* {
    margin: 0px;
    color: #700505;
    
}

body {
    background-image: url(../img/bg.gif);
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    padding: 15px 40px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #70252530;
}

article {
    width: 45%;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.navbar_center {
    min-width: 50%;
    justify-content: center;
}