* {
    margin: 0px;
}

body {
    background-color: #12599c;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #5259bc;
}

ul {
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    padding: 15px 40px;
    font-size: 20px;
    color: #fff;
    /* background-color: #3333aa; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: #12599c;
}

.navbar_center {
    width: 40%;
    justify-content: center;
}