body {
    display: block;
    position: relative;
}

button {
    display: block;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.Menu {
    display: block;
    position: fixed;
}

.Menu_mobile {
    display: none;
}

.mainWindow {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Detailes {
    display: block;
    position: relative;
}

.DetailesToolbar {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.DetailesSettings {
    display: block;
    position: relative;
}

.DetailesSettingsDate {
    display: block;
    position: relative;
}

.DetailesSettingsDateItem {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.DetailesSettingsDateItem_block {
    display: block;
    position: relative;
}

.date_area {
    display: block;
    position: relative;
}

.b_CalendarBar {
    display: flex;
    justify-content: space-around;
}

.Calendar {
    display: grid;
    position: relative;
}

.CalendarItem {
    display: block;
    position: relative;
}

.Date {
    display: block;
    position: relative;
}

.CalendarItemContents {
    display: block;
    position: relative;
}

.Contents {
    display: block;
    position: relative;
}

.w_ContentsBlock {
    display: block;
    position: relative;
}

.w_ContentsBlock::before {
    display: block;
    position: absolute;
}

.w_ContentsBlock::after {
    display: block;
    position: absolute;
}

.ContentsBlock {
    display: block;
    position: relative;
}

.ContentsBlock > * {
    display: block;
    position: relative;
}

.ContentsBlockField {
    display: flex;
    justify-content: space-between;
}