body {
    display: block;
}

/* header */

header {
    display: inherit;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar_center {
    display: inherit;
    justify-content: inherit;
}

/* body */

    /* Боковые панели */

aside {
    display: block;
    position: fixed;
}

.bar_borders {
    display: inherit;
    position: relative;
}

.task {
    display: inherit;
    position: inherit;
}

.taskrow {
    display: flex;
    justify-content: space-between;
}

.toolbar {
    display: block;
    position: fixed;
}

.tool_item {
    display: block;
    position: relative;
}

.tool_item > ul {
    display: block;
}

    /* Содержимое сайта */

.articles {
    display: block;
    position: relative;
}

.content_block {
    position: relative;
}

.content_block::before {
    position: absolute;
}

.content_block::after {
    position: absolute;
}

.content_bar {
    display: block;
    position: relative;
}

.date_time_bar {
    display: flex;
    justify-content: space-between;
}

.date_time_bar ul {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.date_time_subbar {
    display: block;
    position: relative;
}

.date_time_subbar::before {
    position: absolute;
}

label {
    display: inline-block;
}

#registration {
    display: block;
}

    /* Органайзер */



/* footer */

footer {
    display: block;
    position: fixed;
}

.footer_block {
    display: flex;
    justify-content: center;
}

.footer_list {
    display: block;
    position: relative;
}