* {
    font-family: kybercontent;
    font-variant: small-caps;
    text-decoration: none;
    margin: 0;
    color: #800505;
    letter-spacing: 2px;
}

body {
    background-image: url(../assets/img/bg.gif);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

/* header  */

header {
    background-image: url(../assets/img/bg.gif);
    z-index: 1;
    width: 100%;
    min-width: 1152px;
    top: 0;
}

.navbar {
    background-color: #40050530;
    border-bottom: 1px #5e0005 solid;
}

.navbar li {
    font-size: 20px;
    padding: 20px 35px;
    font-family: kyberheader;
    border-left: 1px #5e0005 solid;
    border-right: 1px #5e0005 solid;
}

.navbar li:hover {
    background-color: #90252530;
}

.navbar_center li {
    margin: 0 15px;
}

/* body  */

    /* Боковые панели задач */

#right_taskbar {
    bottom: 0;
    right: 0;
    width: 370px;
}

#left_taskbar{
    top: 150px;
    left: 0;
    width: 300px;
}

.task {
    margin-top: 10px;
    background-color: #40050530;
    border: 1px#5e0005 solid;
}

.taskrow {
    border-bottom: 1px #5e0005 solid;
}

h5 {
    padding: 2px 10px;
    font-size: 20px;
}

h6 {
    padding: 2px 10px;
    font-size: 20px;
}

p {
    font-family: sao;
    font-size: 20px;
    padding: 10px 20px;
}

    /* Основной контент */

.articles {
    margin: 80px auto;
    margin-bottom: 0;
    width: 700px;
    text-align: center;
}

.content_block {
    padding: 25px 0;
    margin: 25px 0;
}

.subblock {
    box-sizing: border-box;
    border: 1px #5e0005 solid;
    background-color: #90101010;
}

.content_block::before {
    content: "";
    top: 1px;
    left: 0;
    width: 700px;
    height: 25px;
    background: url(../assets/img/border.png) top left no-repeat;
    transform: rotate(180deg);
}

.content_block::after {
    content: "";
    bottom: 1px;
    left: 0;
    width: 700px;
    height: 25px;
    background: url(../assets/img/border.png) bottom left no-repeat;
}

h2 {
    text-indent: 3px;
    padding: 20px;
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

h3 {
    padding: 15px;
    font-weight: normal;
    font-size: 25px;
}

.content_block li {
    text-align: left;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

label {
    font-size: 25px;
    padding: 10px 20px;
}

#registration {
    font-size: 25px;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
}

#registration:hover {
    background-color: #90252530;
    border: 1px #5e0005 solid;
    border-top: none;
    border-bottom: none;
}

input {
    font-size: 18px;
    background-color: #90252530;
    border: none;
}

input:focus {
    outline: none;
    box-sizing: content-box;
    border: 1px #5e0005 solid;
    border-left: none;
    border-right: none;
}

button {
    background-color: transparent;
    border: none;
}

.calendar_frame {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 2000px;
}

.calendar {
    background-color: #40050530;
    height: 100%;
}

.day_of_week {
    border-right: 1px #5e0005 solid;
    border-bottom: 1px #5e0005 solid;
}

.last_right_el {
    border-right: none;
}

.last_bottom_el {
    border-bottom: none;
}

.way {
    border-bottom: 1px #5e0005 solid;
}