* {
    box-sizing: border-box;
    font-family: kybercontent;
    font-variant: small-caps;
    text-decoration: none;
    margin: 0;
    /* color: #800505; */
    color: #f00;
    letter-spacing: 2px;
    text-align: center;
}

body {
    background-image: url(../assets/img/bg.gif);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

/* header  */

header {
    background-image: url(../assets/img/bg.gif);
    z-index: 1;
    width: 100%;
    min-width: 1200px;
    top: 0;
}

.navbar {
    background-color: #40050530;
    border-bottom: 1px #5e0005 solid;
}

.navbar div {
    font-size: 20px;
    padding: 20px 35px;
    font-family: kyberheader;
    border-left: 1px #5e0005 solid;
    border-right: 1px #5e0005 solid;
}

.navbar li:hover {
    background-color: #90252530;
}

.navbar_center li {
    margin: 0 15px;
}

/* body  */

    /* Боковые панели задач */
    
    #right_taskbar {
        bottom: 0;
        right: 0;
    width: 370px;
}

#left_taskbar{
    top: 150px;
    left: 0;
    width: 300px;
}

.task {
    margin-top: 10px;
    background-color: #000;
    border: 1px#5e0005 solid;
    /* border: 1px #f00 solid; */
    /* background-image: url(../assets/img/bg.gif); */
    z-index: 30;
}

.taskrow {
    border-bottom: 1px #5e0005 solid;
    /* border-bottom: 1px #f00 solid; */
}

h5 {
    padding: 2px 10px;
    font-size: 20px;
}

h6 {
    padding: 2px 10px;
    font-size: 20px;
}

p {
    font-family: sao;
    font-size: 20px;
    padding: 10px 20px;
}

.toolbar {
    top: 80px;
    right: 0;
    /* padding: 5px; */
    border-bottom: 1px #5e0005 solid;
    border-top: 1px #5e0005 solid;
    border-left: 1px #5e0005 solid;
}

.tool_item {
    background-color: #40050530;
}

.tool_item:hover {
    background-color: #90252530;
}

.tool_item > ul > li {
    padding: 9px;
    padding-bottom: 5px;
}

/* Основной контент */

.articles {
    margin: 80px auto;
    margin-bottom: 0;
    width: 700px;
    text-align: center;
}

.content_block {
    padding: 25px 0;
    margin: 25px 0;
}

.subblock {
    box-sizing: border-box;
    border: 1px #5e0005 solid;
    /* border: 1px #f00 solid; */
    background-color: #90101010;
}

._subblock {
    border-bottom: 1px #5e0005 solid;
}

.content_block::before {
    content: "";
    top: 1px;
    left: 0;
    width: 700px;
    height: 25px;
    background: url(../assets/img/border.png) top left no-repeat;
    transform: rotate(180deg);
}

.content_block::after {
    content: "";
    bottom: 1px;
    left: 0;
    width: 700px;
    height: 25px;
    background: url(../assets/img/border.png) bottom left no-repeat;
}

h2 {
    text-indent: 3px;
    padding: 20px;
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    border-bottom: 1px #5e0005 solid;
}

h3 {
    padding: 15px;
    font-weight: normal;
    font-size: 25px;
}

.content_block li {
    text-align: left;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.date_time_bar li {
    margin: 0;
    padding: 10.3px 8px; 
}

.date_time_subbar::before {
    content: "";
    top: -1px;
    left: 0;
    width: 10px;
    height: 45px;
    background: url(../assets/img/left_side_border.png) top left no-repeat;
}

.date_time_subbar {
    padding-left: 10px;
}

.date_time_bar_second {
    border-bottom: 1px #5e0005 solid;
}

.left_side_border {
    margin: 0;
    padding: 0;
}

#central_button {
    margin-bottom: 10px;
}

/* блок регистрации и входа */

label {
    font-size: 25px;
    padding: 10px 20px;
}

.registration {
    font-size: 25px;
    padding: 10px 50px;
    margin: 10px auto 0;
    background-color: transparent;
    border: none;
}

.registration:hover {
    background-color: #90252530;
    border: 1px #5e0005 solid;
    border-top: none;
    border-bottom: none;
}

#login_btn {
    margin-bottom: 10px;
}

#start_page {
    margin: 0 auto;
}

input {
    font-size: 18px;
    /* color: #c00; */
    background-color: #90252530;
    border: none;
}

input:focus {
    outline: none;
    border: 1px #5e0005 solid;
    border-left: none;
    border-right: none;
}

.field {
    width: 150px;
}

.hidden {
    display: none;
}

button {
    background-color: transparent;
    border: none;
    padding: 0; 
}


/* Окно органайзера */



/* footer */

footer {
    border-top: 1px #5e0005 solid;
    z-index: -1;
}

.footer_block {
    margin: 0 auto;
    min-width: 1200px;
}

.footer_list {
    margin: 15px 40px;
}

.footer_list li {
    margin: 5px 0;
    font-size: 19px;
}