* {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.download {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}

.menu {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}

aside button {
    display: block;
    position: relative;
    text-align: center;
    border: 1px #f00 solid;
    padding: 15px;
    background-color: black;
    color: #0f0;
    width: 100%;
}

aside div {
    display: block;
    position: relative;
    text-align: center;
    border: 1px #f00 solid;
    padding: 15px;
    background-color: black;
    color: #0f0;
}

section {
    margin: 20px;
    overflow: auto;
}

#english {
    display: block;
}

#russian {
    display: none;
}